openapi: 3.0.3
info:
  title: Beanpay
  description: Beanpay internal and partner API Specification
  termsOfService: https://beanpay.co.tz/terms/
  contact:
    name: API Support
    url: https://www.beanpay.co.tz/support
    email: support@beanpay.co.tz.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
servers:
  - url: 'https://api.beanpay.co.tz'
    description: live server
  - url: 'https://test.beanpay.co.tz'
    description: sandbox
paths:
  /token:
    get:
      operationId: getToken
      description: clients retrieve short lived access token by providing api key and secret
      summary: retrieve access token for push and disburse operations
      security:
        - basicAuth: []
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '5XX':
          $ref: '#/components/responses/ServerError'

  /push:
    post:
      operationId: pushPay
      description: send push request to customer
      summary: send collection request to customer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushRequest'
      callbacks:
        pushPayCallback:
          '{$request.body#/callback}':
            post:
              operationId: pushPayCallback
              description: callback to client listener
              summary: callback from beanpay server to client http listener invoked when mno has returned results of a pushpay request
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PushResponse'
              responses:
                200:
                  description: OK
                400:
                  description: Error
                500:
                  description: internal error
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /disburse:
    post:
      description: disbursement request
      summary: move money from business account to customer account
      operationId: disbursment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisburseRequest'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisburseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '5XX':
          $ref: '#/components/responses/ServerError'

components:
  responses:
    BadRequest:
      description: the request format is bad
      content:
        application/json:
          schema:
            $ref: '#/components/responses/BadRequest'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      title: Error Message
      description: returned when there is an error while proceesing the request
      type: object
      properties:
        code:
          description: error code
          title: code
          default: BP001
          type: string
          example: BP100
        message:
          title: error message
          example: unauthorized
          description: length description of the error message
          type: string
      required:
        - code
        - message
    TokenResponse:
      title: Token Response
      description: response returned after a user has requested token and supplied correct credentials
      type: object
      properties:
        token:
          type: string
          description: JWT token string
          format: JWT
    PushRequest:
      description: the request body of push request
      title: Push Request
      type: object
      properties:
        phone:
          type: string
          description: phone number where the push request is to be sent.
          format: phonenumber
          example: 0765992153
        amount:
          description: amount to be collected from user wallet
          type: number
          format: float
          example: 1000.28
        callback:
          description: the callback url where http post request will be sent after request has completed
          type: string
          format: uri
          example: https://desaonline.com/callback
        remarks:
          description: description about the reason of the request
          example: school fee payment
          type: string
      required:
        - phone
        - amount
        - callback
        - remarks
    DisburseRequest:
      description: the request body of disburse request
      title: Disburse Request
      type: object
      properties:
        phone:
          type: string
          description: phone number where the push request is to be sent.
          format: phonenumber
          example: 0765992153
        amount:
          description: amount to be collected from user wallet
          type: number
          format: float
          example: 1000.28
        remarks:
          description: description about the reason of the request
          example: school fee payment
          type: string
      required:
        - phone
        - amount
        - remarks
    PushResponse:
      title: PushResponse
      description: Synchronous Response After Push
      type: object
      properties:
        id:
          title: request id
          description: unique request id generated by beanpay
          type: string
          example: BP2726363GNSHSHSBS8
        status:
          title: status
          description: status of the request
          type: boolean
          example: true
        message:
          title: message
          description: status description
          type: string
          example: request sent sccessfully
        mno:
          title: mno
          type: string
          description: mobile network operator that the phone number belong to
          example: tigo
        amount:
          title: amount
          description: amount to be collected
          type: number
          format: float
          example: 800.80
        phone:
          title: phone
          description: phone number of the user
          type: string
          format: phonenumber
          example: 0765992153
        timestamp:
          title: timestamp
          type: string
          format: datetime
          description: timestamp
          example: 22nd Jan 2021
    DisburseResponse:
      title: Disburse Response
      description: Synchronous Response After Disbursment
      type: object
      properties:
        id:
          title: request id
          description: unique request id generated by beanpay
          type: string
          example: BP2726363GNSHSHSBS8
        status:
          title: status
          description: status of the request
          type: boolean
          example: true
        message:
          title: message
          description: status description
          type: string
          example: request sent sccessfully
        mno:
          title: mno
          type: string
          description: mobile network operator that the phone number belong to
          example: tigo
        amount:
          title: amount
          description: amount to be collected
          type: number
          format: float
          example: 800.80
        phone:
          title: phone
          description: phone number of the user
          type: string
          format: phonenumber
          example: 0765992153
        timestamp:
          title: timestamp
          type: string
          format: datetime
          description: timestamp
          example: 22nd Jan 2021
  securitySchemes:
    basicAuth:
      description: use the key as username and secret as password
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - basicAuth: []  # <-- use the same name here